* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus{
  outline: none;
}

main {
  flex: 1;
}

.min-height {
  min-height: 100vh;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0rem !important;
}

p {
  margin-bottom: 0rem !important;
}

section {
  padding: 30px 0;
  margin: 13px 0;
  width: 100%;
  margin: auto;
}

.section-title {
  font-size: 130px;
  font-weight: bold;
  opacity: 0.1;
  color: #a3a3a3;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-title-little {
  display: none;
}

.section-content {
  transform: translateY(-80px);
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -o-transform: translateY(-80px);
}

.about-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-row i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  color: #fff;
  background: #3f51b5;
  cursor: pointer;
  margin-right: 15px;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon-row i:hover{
  background: #fff;
  color: #3f51b5;
  border: 1px dotted #3f51b5;
}

.rating {
  color: #3f51b5;
}

.portfolio-header ul {
  list-style: none;
  display: flex;
  padding-left: 0rem !important;
}

.portfolio-header ul li {
  margin: 3px 13px;
  padding: 4px 12px;
  border: 1px dotted #3f51b5;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  cursor: pointer;
}

.footerbg {
  background-color: #3f51b5;
  text-align: center;
  padding: 40px 0 10px 0;
}

.message-box{
  border : 1px dotted dark ;
}

.portfolio-header ul li:hover {
  background-color: #3f51b5;
  color: #fff;
}

@media (max-width:768px) {

  .row {
    --bs-gutter-x: 0rem !important;
  }

  .section-title {
    display: none;
  }

  .section-title-little {
    display: block;
    font-size: 50px;
    padding: 10px 0 0 0;
    color: #a3a3a3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }

  .section-content {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  .section-content h1 {
    display: none;
  }

  .portfolio-header ul {
    width: 250px;
    display: block;
    text-align: center;
    margin: 30px auto;
  }

  .portfolio-header ul li {
    margin-top: 12px;
  }
}